# Note:
-(make sure both data1 and data2 have the same number of numerical and categorical columns)
- Run all the cells for data1
- Then, run all the cells for data2
- Then after you have the correlation matrices for both (data1 and data2) --> run the difference between matrices test
- This is the only way this file will work. If you dont follow the steps you will get a result of ZERO

In [3]:
import numpy as np
import pandas as pd
from numpy import linalg
from sklearn.model_selection import train_test_split

# Upload Dataset

In [7]:
# Dataset before augmentation
data2 = pd.read_csv("/Users/elleemortensen/Documents/GitHub/BP24/Ellee/Data/Stacked/stacked_orig.csv", header=None)
data1 = pd.read_csv("/Users/elleemortensen/Documents/GitHub/BP24/Ellee/Data/Uniform/uniform_orig.csv", header=None)

# Dataset after augmentation
data3 = pd.read_csv("/Users/elleemortensen/Documents/GitHub/BP24/Ellee/Data/Stacked/stacked_new.csv", header=None)
# data2 = pd.read_csv("/Users/elleemortensen/Documents/GitHub/BP24/Ellee/Data/Uniform/uniform_new.csv", header=None)
# data2 = pd.read_csv("/Users/elleemortensen/Documents/GitHub/BP24/Ellee/Data/Gaussian/gaussian_orig.csv", header=None)
# data2 = pd.read_csv("/Users/elleemortensen/Documents/GitHub/BP24/Ellee/Data/Gaussian/gaussian_new.csv", header=None)

# Check Shapes of Datasets (they must be the same)

In [9]:
# Print shapes for debugging
print(f"Shape of data1: {data1.shape}")
print(f"Shape of data2: {data2.shape}")
print(f"Shape of data3: {data3.shape}")

Shape of data1: (343, 25)
Shape of data2: (240, 25)
Shape of data3: (240, 25)

In [ ]:
# If the datasets do not have the same columns ---> make one dataset match the other one (order does not matter)
# Subset columns so both have the same 
# (we need to make sure we have the same categorical and numerical columns) ---> you do this after this cell
data1 = data1.iloc[:, -13:]
data1.shape

# Convert columns into Categorical (Only for Uniform and Gaussian Distributions)

In [11]:
for i in range(-9,0):
    data1.iloc[:,i] = data1.iloc[:,i].astype(int) # Integer
    data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
data1.dtypes

/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
338    0.0
339    1.0
340    0.0
341    0.0
342    1.0
Name: 16, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
338    0.0
339    1.0
340    0.0
341    0.0
342    0.0
Name: 17, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
338    0.0
339    1.0
340    0.0
341    0.0
342    0.0
Name: 18, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
338    0.0
339    0.0
340    0.0
341    0.0
342    0.0
Name: 19, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      1.0
3      0.0
4      0.0
      ...
338    0.0
339    0.0
340    0.0
341    0.0
342    0.0
Name: 20, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      1.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
338    0.0
339    0.0
340    1.0
341    0.0
342    1.0
Name: 21, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
338    0.0
339    0.0
340    0.0
341    0.0
342    0.0
Name: 22, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
338    0.0
339    0.0
340    0.0
341    0.0
342    0.0
Name: 23, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories
/var/folders/vs/hd0z3zmd61j3_8jc_fymfchr0000gn/T/ipykernel_1952/784560720.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      1.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
338    0.0
339    1.0
340    1.0
341    0.0
342    1.0
Name: 24, Length: 343, dtype: category
Categories (2, float64): [0.0, 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data1.iloc[:,i] = data1.iloc[:,i].astype('category') # Categories

0      float64
1      float64
2      float64
3      float64
4      float64
5      float64
6      float64
7      float64
8      float64
9      float64
10     float64
11     float64
12     float64
13     float64
14     float64
15     float64
16    category
17    category
18    category
19    category
20    category
21    category
22    category
23    category
24    category
dtype: object

In [ ]:
for i in range(-5,0):
    data2.iloc[:,i] = data2.iloc[:,i].astype(int) # Integer
    data2.iloc[:,i] = data2.iloc[:,i].astype('category') # Categories
data2.dtypes
#data2.head()

# Convert columns into Categorical (Only for Stacked Distribution)

In [13]:
for column in data2.columns[-9:]:
    data2[column] = data2[column].astype('category')

for column in data3.columns[-9:]:
    data3[column] = data3[column].astype('category')

# Concat Synthetic Dataset with New generated dataset

In [21]:
# Concat (adding rows)
combined_df = np.vstack((data2, data3))

# change numpy array into a dataframe
combined_data = pd.DataFrame(combined_df, columns=data2.columns)

# Convert the last number of columns to categorical (to make sure they have the same)
for column in combined_data.columns[-9:]:
    combined_data[column] = combined_data[column].astype('category')

# Verify the changes
print(combined_data.dtypes)

0      float64
1      float64
2      float64
3      float64
4      float64
5      float64
6      float64
7      float64
8      float64
9      float64
10     float64
11     float64
12     float64
13     float64
14     float64
15     float64
16    category
17    category
18    category
19    category
20    category
21    category
22    category
23    category
24    category
dtype: object

# Split Dataset for combined_data

In [23]:
# Split dataset into X and y (data1)
X = combined_data.iloc[:, :-1]  # All columns except the last one
y = combined_data.iloc[:, -1]   # Only the last column


# Split dataset into X_train and y_train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Splitting X_train into numerical subset 
numerical_df = X_train.select_dtypes(include = ['float', 'float64'])

# Splitting X_train into categorical subset 
categorical_df = X_train.select_dtypes(exclude=['float', 'float64'])

# Split Dataset for Synthetic Data

In [15]:
# data2
X = data1.iloc[:, :-1]
y = data1.iloc[:, -1]


# Split dataset into X_train and y_train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Splitting X_train into numerical subset 
numerical_df = X_train.select_dtypes(include = ['float', 'float64'])

# Splitting X_train into categorical subset 
categorical_df = X_train.select_dtypes(exclude=['float', 'float64'])

# Correlation between columns test (Matrix)

In [25]:
##################### Correlation between columns (numerical) Code ############################
# Takes the X_train data to find correlation between NUMERICAL features
def num_corr(X_train_numerical):
    matrix = X_train_numerical.corr(method='pearson')
    print("---------------------------Correlation Matrix------------------------- \n", matrix)
     
#Calls the function so the matrix prints out    
correlation_matrix = num_corr(numerical_df)

---------------------------Correlation Matrix-------------------------
           0         1         2         3         4         5         6   \
0   1.000000  0.117496  0.129585  0.102646  0.221888  0.118265  0.138458
1   0.117496  1.000000  0.174447  0.215746  0.209029  0.168616  0.224183
2   0.129585  0.174447  1.000000  0.225309  0.252376  0.170272  0.217491
3   0.102646  0.215746  0.225309  1.000000  0.264222  0.127427  0.179586
4   0.221888  0.209029  0.252376  0.264222  1.000000  0.342015  0.275643
5   0.118265  0.168616  0.170272  0.127427  0.342015  1.000000  0.135395
6   0.138458  0.224183  0.217491  0.179586  0.275643  0.135395  1.000000
7   0.199178  0.096817  0.136016  0.075405  0.189819  0.126775  0.142344
8   0.258177  0.149154  0.236951  0.222894  0.170911  0.188252  0.252242
9   0.200137  0.193115  0.203322  0.184342  0.216818  0.169172  0.216939
10  0.186764  0.170429  0.136403  0.266149  0.195199  0.195984  0.232978
11  0.153531  0.209403  0.242933  0.264805  0.210203  0.123206  0.313772
12  0.141658  0.165892  0.229463  0.283585  0.219103  0.145265  0.193449
13  0.266796  0.223188  0.162947  0.238088  0.235222  0.188225  0.242791
14  0.216453  0.158781  0.212675  0.277114  0.255589  0.234719  0.222342
15  0.201694  0.276453  0.224905  0.268848  0.203183  0.226030  0.259356

          7         8         9         10        11        12        13  \
0   0.199178  0.258177  0.200137  0.186764  0.153531  0.141658  0.266796
1   0.096817  0.149154  0.193115  0.170429  0.209403  0.165892  0.223188
2   0.136016  0.236951  0.203322  0.136403  0.242933  0.229463  0.162947
3   0.075405  0.222894  0.184342  0.266149  0.264805  0.283585  0.238088
4   0.189819  0.170911  0.216818  0.195199  0.210203  0.219103  0.235222
5   0.126775  0.188252  0.169172  0.195984  0.123206  0.145265  0.188225
6   0.142344  0.252242  0.216939  0.232978  0.313772  0.193449  0.242791
7   1.000000  0.221381  0.136748  0.202702  0.165111  0.239052  0.135244
8   0.221381  1.000000  0.300496  0.307643  0.229213  0.333506  0.224439
9   0.136748  0.300496  1.000000  0.262684  0.315027  0.223206  0.240224
10  0.202702  0.307643  0.262684  1.000000  0.265744  0.304553  0.292298
11  0.165111  0.229213  0.315027  0.265744  1.000000  0.301016  0.200359
12  0.239052  0.333506  0.223206  0.304553  0.301016  1.000000  0.276675
13  0.135244  0.224439  0.240224  0.292298  0.200359  0.276675  1.000000
14  0.209656  0.306228  0.302032  0.252351  0.280776  0.290215  0.235098
15  0.251502  0.253117  0.273655  0.233167  0.341450  0.262845  0.267436

          14        15
0   0.216453  0.201694
1   0.158781  0.276453
2   0.212675  0.224905
3   0.277114  0.268848
4   0.255589  0.203183
5   0.234719  0.226030
6   0.222342  0.259356
7   0.209656  0.251502
8   0.306228  0.253117
9   0.302032  0.273655
10  0.252351  0.233167
11  0.280776  0.341450
12  0.290215  0.262845
13  0.235098  0.267436
14  1.000000  0.333883
15  0.333883  1.000000

# Save Correlation Matrix into a Dataframe for combined_data

In [27]:
#combined_data
correlation_matrix = numerical_df.corr()
correlation_df_combined = pd.DataFrame(correlation_matrix)
print(correlation_df_combined)

correlation_df_combined.shape

          0         1         2         3         4         5         6   \
0   1.000000  0.117496  0.129585  0.102646  0.221888  0.118265  0.138458
1   0.117496  1.000000  0.174447  0.215746  0.209029  0.168616  0.224183
2   0.129585  0.174447  1.000000  0.225309  0.252376  0.170272  0.217491
3   0.102646  0.215746  0.225309  1.000000  0.264222  0.127427  0.179586
4   0.221888  0.209029  0.252376  0.264222  1.000000  0.342015  0.275643
5   0.118265  0.168616  0.170272  0.127427  0.342015  1.000000  0.135395
6   0.138458  0.224183  0.217491  0.179586  0.275643  0.135395  1.000000
7   0.199178  0.096817  0.136016  0.075405  0.189819  0.126775  0.142344
8   0.258177  0.149154  0.236951  0.222894  0.170911  0.188252  0.252242
9   0.200137  0.193115  0.203322  0.184342  0.216818  0.169172  0.216939
10  0.186764  0.170429  0.136403  0.266149  0.195199  0.195984  0.232978
11  0.153531  0.209403  0.242933  0.264805  0.210203  0.123206  0.313772
12  0.141658  0.165892  0.229463  0.283585  0.219103  0.145265  0.193449
13  0.266796  0.223188  0.162947  0.238088  0.235222  0.188225  0.242791
14  0.216453  0.158781  0.212675  0.277114  0.255589  0.234719  0.222342
15  0.201694  0.276453  0.224905  0.268848  0.203183  0.226030  0.259356

          7         8         9         10        11        12        13  \
0   0.199178  0.258177  0.200137  0.186764  0.153531  0.141658  0.266796
1   0.096817  0.149154  0.193115  0.170429  0.209403  0.165892  0.223188
2   0.136016  0.236951  0.203322  0.136403  0.242933  0.229463  0.162947
3   0.075405  0.222894  0.184342  0.266149  0.264805  0.283585  0.238088
4   0.189819  0.170911  0.216818  0.195199  0.210203  0.219103  0.235222
5   0.126775  0.188252  0.169172  0.195984  0.123206  0.145265  0.188225
6   0.142344  0.252242  0.216939  0.232978  0.313772  0.193449  0.242791
7   1.000000  0.221381  0.136748  0.202702  0.165111  0.239052  0.135244
8   0.221381  1.000000  0.300496  0.307643  0.229213  0.333506  0.224439
9   0.136748  0.300496  1.000000  0.262684  0.315027  0.223206  0.240224
10  0.202702  0.307643  0.262684  1.000000  0.265744  0.304553  0.292298
11  0.165111  0.229213  0.315027  0.265744  1.000000  0.301016  0.200359
12  0.239052  0.333506  0.223206  0.304553  0.301016  1.000000  0.276675
13  0.135244  0.224439  0.240224  0.292298  0.200359  0.276675  1.000000
14  0.209656  0.306228  0.302032  0.252351  0.280776  0.290215  0.235098
15  0.251502  0.253117  0.273655  0.233167  0.341450  0.262845  0.267436

          14        15
0   0.216453  0.201694
1   0.158781  0.276453
2   0.212675  0.224905
3   0.277114  0.268848
4   0.255589  0.203183
5   0.234719  0.226030
6   0.222342  0.259356
7   0.209656  0.251502
8   0.306228  0.253117
9   0.302032  0.273655
10  0.252351  0.233167
11  0.280776  0.341450
12  0.290215  0.262845
13  0.235098  0.267436
14  1.000000  0.333883
15  0.333883  1.000000

(16, 16)

# Save Correlation Matrix into a Dataframe for Synthetic dataset

In [19]:
#data1
correlation_matrix = numerical_df.corr()
correlation_df1 = pd.DataFrame(correlation_matrix)
print(correlation_df1)

correlation_df1.shape

          0         1         2         3         4         5         6   \
0   1.000000  0.153738  0.136624  0.084442  0.065896  0.182015  0.132600
1   0.153738  1.000000  0.031240  0.146102  0.093639  0.203931  0.174417
2   0.136624  0.031240  1.000000  0.108437  0.062278  0.083978  0.070123
3   0.084442  0.146102  0.108437  1.000000  0.086641  0.160223  0.137962
4   0.065896  0.093639  0.062278  0.086641  1.000000  0.190358  0.044607
5   0.182015  0.203931  0.083978  0.160223  0.190358  1.000000  0.114466
6   0.132600  0.174417  0.070123  0.137962  0.044607  0.114466  1.000000
7  -0.022989  0.060006  0.086452  0.016870 -0.012884  0.135468  0.014761
8  -0.007064  0.084242  0.181168  0.064725  0.025051  0.156622 -0.003306
9   0.086244  0.105229  0.078262  0.158098  0.098994  0.092857  0.128217
10  0.039575  0.137728 -0.041335 -0.034744  0.081228 -0.007523  0.080895
11  0.065992  0.114128 -0.031285  0.034905  0.178465  0.110940  0.000335
12  0.084564  0.188954  0.148415  0.088043  0.171399  0.146997  0.189323
13  0.097929  0.086318  0.037046  0.057185  0.099178  0.175591  0.178317
14  0.129875  0.086466  0.155305  0.196424  0.157637  0.197652  0.008271
15 -0.016030  0.003165  0.095199  0.082405  0.063542  0.097313  0.038868

          7         8         9         10        11        12        13  \
0  -0.022989 -0.007064  0.086244  0.039575  0.065992  0.084564  0.097929
1   0.060006  0.084242  0.105229  0.137728  0.114128  0.188954  0.086318
2   0.086452  0.181168  0.078262 -0.041335 -0.031285  0.148415  0.037046
3   0.016870  0.064725  0.158098 -0.034744  0.034905  0.088043  0.057185
4  -0.012884  0.025051  0.098994  0.081228  0.178465  0.171399  0.099178
5   0.135468  0.156622  0.092857 -0.007523  0.110940  0.146997  0.175591
6   0.014761 -0.003306  0.128217  0.080895  0.000335  0.189323  0.178317
7   1.000000  0.114769 -0.030194  0.057462  0.056849  0.060638  0.040014
8   0.114769  1.000000  0.059255  0.032596  0.127832  0.156012  0.080372
9  -0.030194  0.059255  1.000000  0.047116  0.075936  0.264154 -0.015389
10  0.057462  0.032596  0.047116  1.000000  0.082608 -0.060547  0.170339
11  0.056849  0.127832  0.075936  0.082608  1.000000  0.166307  0.055487
12  0.060638  0.156012  0.264154 -0.060547  0.166307  1.000000  0.150753
13  0.040014  0.080372 -0.015389  0.170339  0.055487  0.150753  1.000000
14  0.155175  0.056257  0.236458 -0.002716  0.066928  0.154679  0.075919
15  0.044416  0.106193  0.124122 -0.022625  0.040047  0.115245  0.127991

          14        15
0   0.129875 -0.016030
1   0.086466  0.003165
2   0.155305  0.095199
3   0.196424  0.082405
4   0.157637  0.063542
5   0.197652  0.097313
6   0.008271  0.038868
7   0.155175  0.044416
8   0.056257  0.106193
9   0.236458  0.124122
10 -0.002716 -0.022625
11  0.066928  0.040047
12  0.154679  0.115245
13  0.075919  0.127991
14  1.000000  0.086422
15  0.086422  1.000000

(16, 16)

# Differences in Matrices (Frobenius Norm)

In [29]:
# Convert the dataframes to numpy arrays
matrix1 = correlation_df1.to_numpy()
matrix2 = correlation_df_combined.to_numpy()

# Compute the Frobenius norm of the difference between the matrices. 
frobenius_abs = np.linalg.norm(matrix1 - matrix2, ord='fro')   # Absolute error with Frobenius norm

frobenius_rel = frobenius_abs/np.linalg.norm(matrix1, ord='fro')    # Relative error with Frobenius norm

print(f"Frobenius norm difference (absolute error) : {frobenius_abs: .3f}")
print(f"Frobenius notrelative error : {frobenius_rel: .3f}")

Frobenius norm difference (absolute error) :  2.405
Frobenius notrelative error :  0.552

# Differences in Arrays (L2 Norm)

In [ ]:
#array1 ...
#array2 ...

# Compute the L2 norm (Euclidean norm) of the difference between the arrays
L2_norm = np.linalg.norm(array1 - array2, ord=2)

print(f"L2 norm difference: {L2_norm: .3f}")