# HAT
- Histogram Augmentation Technique (HAT) is used widely to augment and classify any tabular data
- HAT is designed such that the generated data retains the distribution of the original tabular data histogram
- HAT analyses the data distribution of a particular feature and based on the feature type (i.e. continuous or discrete) it generates new samples

# Import Libraries

In [2]:
#IMPORT important libraries
import numpy as np
import pandas as pd
import time
from collections import Counter
from sklearn.model_selection import train_test_split
pd.DataFrame.iteritems = pd.DataFrame.items

# Load Dataset

In [5]:
#load dataset
#data = np.loadtxt("uniform_small_d_1.tex")
data = np.loadtxt("uniform_large_d_1.tex")
#data = np.loadtxt("gaussian_small_d_1.tex")
#data = np.loadtxt("gaussian_large_d_1.tex")

# Creating NumPy array
array = np.array(data)

# Converting to Pandas DataFrame
df_table = pd.DataFrame(array)

# Displaying the table
df_table.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,0.604431,0.724054,1.295053,0.495865,0.607451,0.547615,0.564150,0.468880,0.420394,0.910129,...,0.660629,1.325968,1.282151,0.600550,0.592177,0.776711,1.085891,1.153748,1.352572,1.0
1,1.180423,1.391002,1.184481,0.583052,1.210490,0.923676,1.185203,1.369972,1.201448,0.614857,...,0.892705,0.848612,1.298801,1.250497,0.547771,1.215082,0.940952,1.109552,1.181372,1.0
2,1.067779,0.718696,0.798901,1.369462,0.470935,0.566282,1.398846,1.015372,0.801271,1.330270,...,1.339399,0.417466,0.496915,0.661756,0.875185,1.293924,0.750581,0.742218,0.993983,1.0
3,0.368247,0.730771,0.134119,0.984532,0.397524,0.470181,0.025061,0.648142,0.016333,0.973801,...,0.086188,0.394613,0.252668,0.808593,0.587922,0.827502,0.862651,0.684517,0.149873,0.0
4,0.919760,0.577797,0.441661,0.862139,0.263016,0.393494,0.635624,0.657747,0.781920,0.566910,...,0.816635,0.319880,0.770176,0.919029,0.265299,0.983398,0.956898,0.175083,0.170124,0.0

# Convert dataset to 'categorical' and 'numerical'

In [8]:
# From the dataset, change 25 columns to 'categorical'
#Loop, converts floats to ints and then those ints to category
for i in range(25):
    df_table.iloc[:,i] = df_table.iloc[:,i].round()
    df_table.iloc[:,i] = df_table.iloc[:,i].astype(int)

# Split Dataset

In [11]:
#split dataset into training set and test set
#test_size: in this case it is 70% training and 30% testing
#random_state: sets a seed for a random number generator that splits the data
X_train, X_test, y_train, y_test = train_test_split(df_table.iloc[:,0:150], df_table.iloc[:,-1], test_size=0.2, random_state=52)

# Combine X_train and y_train into one dataframe

In [14]:
# Combining X_train and y_train into one DataFrame
train_combined = pd.concat([X_train, y_train], axis=1)
train_combined.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
159,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.585810,0.766640,0.340473,0.350218,0.274646,0.093124,0.001300,0.899399,0.368022,0.0
198,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.600071,1.139251,0.826940,1.272623,1.018323,0.698481,1.365619,0.460799,1.089924,1.0
259,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0.488724,1.184376,1.056230,0.478523,0.910375,0.718602,0.753928,0.936283,0.423786,1.0
301,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.528018,0.747393,1.137783,0.521072,1.136169,1.091905,0.533929,1.024574,0.561742,1.0
220,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.271489,0.905137,0.619907,0.835196,0.589189,0.873329,0.891913,0.651581,0.984017,0.0

# HAT code

In [17]:
#define histogram function
#data: This is the original dataset that you want to use for generating new data
#no_new_data: This parameter indicates how much new data you want to generate
#data_feat: This parameter specifies the type of data feature. It can be either 'c' for continuous data or 'd' for discrete data.
#preserve: This parameter determines whether to preserve the original dataset or not while generating new data. If set to True, the original dataset will be included in the generated data; otherwise, it won't be included.
def histogram_sampler(data, no_new_data, data_feat, preserve):

    if (data_feat == 'c'):
        start_time = time.time()
        print("Existing data:", len(data))
        print("New data to be produced:", no_new_data)

#Function parameters
#X_new = New data for each iteration
#len_X_new = length of the newly generated data
#iter_count = number of iterations
#data_gen = Augmented data (original data + newly generated data)
        
        X_new = []
        len_X_new = len(X_new)
        iter_count = 0
        data_gen = data


         # Histogram calculation and sampling logic goes here...
        # Adjust the condition for the while loop
        while (len_X_new < 0.7 * no_new_data):
            iter_count += 1
            print("Number of iterations ---> niter_count=", iter_count)

            
#Histogram: Generating the histogram , choosing the mid-value of the bins, and normalizing frequency
#fd- Freedman–Diaconis rule is employed to choose the bin size, as it depends on the spread of the data, without any presumption
            if (iter_count == 1):
                Y,X_interval=np.histogram(data_gen,bins='doane')
                n_bins = len(Y)
            else:
                Y,X_interval=np.histogram(data_gen,bins=n_bins)

            
            X = ((X_interval[0:-1] + X_interval[1:])/2) 
            Y = Y/max(Y)

            bin_val = list(np.round(X,8))
            weight = list(Y)
            hist = dict(zip(bin_val,weight))

            for xi in bin_val[0:-1]:

#Values: choosing the values for undergoing validity check

                bin_width = ((max(bin_val) - min(bin_val)) / int(len(bin_val)-1))
                xm = xi + (bin_width/2)
                x1 = xi
                y1 = hist[xi]

                res = None
                temp = iter(hist)
                for key in temp:
                    if(key == xi):
                        res = next(temp,None)

                y2 = hist[res]
                ym = ((y1+y2)/2)
#Validity check: checking if the specified value can be considered
#if(no_new_data <= len(data)):
#ym = ym*(np.random.rand()<=ym)
#y1 = y1*(np.random.rand()<=y1)
    
                #else:
                ym = ym*(abs(np.random.normal(0,0.5))<=ym)
                y1 = y1*(abs(np.random.normal(0,0.5))<=y1)

#Appending: appending the valid values
                

                if (ym!=0):
                    X_new.append(np.round(xm,8))
                    #X_new.append(np.round(xm+0.1*xm,8))
                    #X_new.append(np.round(xm-0.1*xm,8))
                if (y1!=0):
                    X_new.append(np.round(x1,8))
                    #X_new.append(np.round(x1+0.1*xm,8))
                    #X_new.append(np.round(x1-0.1*xm,8))
#Stopping: bins * 2, length check

            data_gen = data_gen + X_new
            n_bins = n_bins*2     
            len_X_new+= len(X_new)
            print(len_X_new)
            X_new = []
            print("--- %s seconds ---" % (time.time() - start_time))


        print(len(data_gen)-len(data),no_new_data)

        if(len(data_gen)-len(data) >= no_new_data):
            data_gen = data_gen[:len(data)] + list(np.random.choice(data_gen[len(data):], no_new_data, replace = False))
            print('\nNew data generated:', len(data_gen[len(data):]), '\nNew data:', len(data_gen), '\n')
            #sns.distplot(data_gen)
            if(preserve == False):
                data_gen = data_gen[len(data):]
            return data_gen

        else:
            print('to discrete...', no_new_data - (len(data_gen)-len(data)))
            samples = histogram_sampler(data_gen, no_new_data - (len(data_gen)-len(data)), 'd', preserve = True)
            if(preserve == False):
                samples = samples[len(data):]
            return samples
            
    elif(data_feat == 'd'):
        X_new=[]
        data_gen=[]
        disc_data= list(set(data))

        for i in disc_data: 
            x=data.count(i)
            X_new.append(round(x*(no_new_data) / len(data)))
        #print(x_new,sum(x_new))

        for j in range(0,len(X_new)):
            for i in range(X_new[j]):
                data_gen.append(disc_data[j])

        if(len(data_gen)==0):
            data_gen = data + data_gen

        print(no_new_data, sum(X_new))            
        if(no_new_data > sum(X_new)):
            data_gen = data + data_gen
            data_gen = list(data_gen + list(np.random.choice(data_gen,int(no_new_data-sum(X_new)),replace = False)))    

        data_gen = list(np.random.choice(data_gen,int(no_new_data),replace = False))   
        
        if(preserve == True):
            data_gen = data + data_gen
    
        #sns.distplot(data_gen)     
        print('\nNew data generated:', len(data_gen[len(data):]), '\nNew data:', len(data_gen), '\n') 
        return data_gen
        
    else:
        print('NA')

In [19]:
#df_class : This parameter represents the DataFrame containing the data.
#diff :This parameter specifies the difference or ratio between the number of samples in the smallest and largest classes after splitting
#label_name: It's the column in your DataFrame that you want to use for splitting the data.
#cd: It can take values 'c' for continuous classes or 'd' for discrete classes.
#label_column: It helps the function identify which column contains the labels or classes.
#preserve: If set to `True`, the original dataset will be included in the split data; otherwise, it won't be included.
def label_split(df_class, diff, label_name , cd, label_column, preserve):
    cdi = 0
    columns_data ={}
    
    #df_ = pd.DataFrame(columns=[])
    df_ = df_class.copy() # To avoid modifying the original DataFrame (Fabi)
    del df_class[label_column]
    
    for (columnName, columnData) in df_class.iteritems(): 
        print(columnName)
        feat_type = cd[cdi]
        df_[columnName] = histogram_sampler(list(columnData.values), diff, feat_type, preserve)
        cdi+=1
    
    df_[label_column] = label_name
    print(df_)

    return df_

In [21]:
def class_balance(data, label_column, cd, augment = False, preserve = True):
    split_list=[]
    #label_column = 'species'
    for label, df_label in data.groupby(label_column):
        split_list.append(df_label)

    maxLength = max(len(x) for x in split_list)

    if(augment == False):
        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = maxLength - len(split_list[i])
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])

    elif(type(augment) == dict):
        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = augment[label_name]
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])

    elif(type(augment) == int):

        label_count = dict(Counter(list(df[label_column])))
        count_key = list(label_count.keys())
        count_val = list(label_count.values())

        for i in range(0,len(count_val)):
            count_val[i] = round(count_val[i] * augment  /sum(list(label_count.values())))


        while(sum(count_val) != augment):
            if(sum(count_val) > augment):
                rand_indx = int(np.random.rand() * len(count_val))
                if(count_val[rand_indx] > 0):
                    count_val[rand_indx]-= 1

            else:
                rand_indx = int(np.random.rand() * len(count_val))
                count_val[rand_indx]+= 1

        new_count = dict(zip(count_key, count_val))

        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = new_count[label_name]
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])


        #finaldf = class_balance(data, label_column, cd, augment = new_count, preserve = preserve)


    for i in range(0,len(split_list)):
        finaldf = pd.concat([finaldf,augmented_list[i]],axis=0)

    return finaldf

# This is where you begin coding!

In [24]:
#If the dataset is not imbalanced, you MUST make it
# Check if label column is imbalanced assuming label column has an index of 150 (this is the y_train)
print(train_combined.iloc[:, 150].value_counts())

150
0.0    200
1.0    200
Name: count, dtype: int64

# Imbalance Label Column

In [27]:
# Assuming df_table is your DataFrame and the label column is at index 150
# Create a new label column with 300 zeros and 200 ones
label1 = np.array([0] * 250 + [1] * 150)

# Shuffle randomly the new label column
np.random.seed(1)
np.random.shuffle(label1)

# Replace the label column with the new imbalanced labels
train_combined['label_0_majority'] = label1
print(train_combined['label_0_majority'].value_counts())

# checks column labels. Categorical are 'int', numerical are 'floats'
print(train_combined['label_0_majority'].dtype)

train_combined.head()

label_0_majority
0    250
1    150
Name: count, dtype: int64
int64

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,150,label_0_majority
159,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.766640,0.340473,0.350218,0.274646,0.093124,0.001300,0.899399,0.368022,0.0,1
198,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.139251,0.826940,1.272623,1.018323,0.698481,1.365619,0.460799,1.089924,1.0,0
259,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.184376,1.056230,0.478523,0.910375,0.718602,0.753928,0.936283,0.423786,1.0,1
301,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.747393,1.137783,0.521072,1.136169,1.091905,0.533929,1.024574,0.561742,1.0,1
220,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.905137,0.619907,0.835196,0.589189,0.873329,0.891913,0.651581,0.984017,0.0,0

# Imbalance Label column again

In [30]:
# Create a second imbalanced label column with 200 zeros and 300 ones
label2 = np.array([0] * 150 + [1] * 250)

# Shuffle randomly the new label column
np.random.seed(1)
np.random.shuffle(label2)

# Add the new label column to the DataFrame
train_combined['label_1_majority'] = label2

print(train_combined['label_1_majority'].value_counts())

label_1_majority
1    250
0    150
Name: count, dtype: int64

In [32]:
# drop the y_train column (Ex: index 150)
train_combined = train_combined.drop(columns=[150])
train_combined.head()

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,label_0_majority,label_1_majority
159,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.766640,0.340473,0.350218,0.274646,0.093124,0.001300,0.899399,0.368022,1,1
198,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.139251,0.826940,1.272623,1.018323,0.698481,1.365619,0.460799,1.089924,0,0
259,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.184376,1.056230,0.478523,0.910375,0.718602,0.753928,0.936283,0.423786,1,1
301,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.747393,1.137783,0.521072,1.136169,1.091905,0.533929,1.024574,0.561742,1,1
220,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.905137,0.619907,0.835196,0.589189,0.873329,0.891913,0.651581,0.984017,0,1

# Create 2 new dataframes for label_0_majority and label_1_majority

In [35]:
# subset dataframe for label_0_majority
df_train_0 = train_combined.iloc[:,0:151]
df_train_0

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,label_0_majority
159,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.585810,0.766640,0.340473,0.350218,0.274646,0.093124,0.001300,0.899399,0.368022,1
198,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.600071,1.139251,0.826940,1.272623,1.018323,0.698481,1.365619,0.460799,1.089924,0
259,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0.488724,1.184376,1.056230,0.478523,0.910375,0.718602,0.753928,0.936283,0.423786,1
301,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.528018,0.747393,1.137783,0.521072,1.136169,1.091905,0.533929,1.024574,0.561742,1
220,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.271489,0.905137,0.619907,0.835196,0.589189,0.873329,0.891913,0.651581,0.984017,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.709312,0.034474,0.437128,0.989087,0.780784,0.299435,0.101811,0.088816,0.493946,1
151,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.292120,0.790276,0.629266,1.389115,0.819113,1.372995,0.636902,1.295628,0.835012,0
13,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.195708,0.590900,0.480853,1.021578,0.949964,1.075881,0.682236,0.734495,1.123123,1
267,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.682845,0.228399,0.585276,0.089750,0.549333,0.279715,0.346601,0.601132,0.893580,0
156,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.884971,0.893950,0.083569,0.261249,0.223393,0.458468,0.345157,0.891678,0.514151,0

In [37]:
# subset dataframe for label_1_majority
df_train_1 = train_combined.drop(['label_0_majority'], axis=1)
df_train_1

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,label_1_majority
159,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.585810,0.766640,0.340473,0.350218,0.274646,0.093124,0.001300,0.899399,0.368022,1
198,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.600071,1.139251,0.826940,1.272623,1.018323,0.698481,1.365619,0.460799,1.089924,0
259,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0.488724,1.184376,1.056230,0.478523,0.910375,0.718602,0.753928,0.936283,0.423786,1
301,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.528018,0.747393,1.137783,0.521072,1.136169,1.091905,0.533929,1.024574,0.561742,1
220,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.271489,0.905137,0.619907,0.835196,0.589189,0.873329,0.891913,0.651581,0.984017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.709312,0.034474,0.437128,0.989087,0.780784,0.299435,0.101811,0.088816,0.493946,1
151,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.292120,0.790276,0.629266,1.389115,0.819113,1.372995,0.636902,1.295628,0.835012,0
13,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.195708,0.590900,0.480853,1.021578,0.949964,1.075881,0.682236,0.734495,1.123123,1
267,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.682845,0.228399,0.585276,0.089750,0.549333,0.279715,0.346601,0.601132,0.893580,1
156,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.884971,0.893950,0.083569,0.261249,0.223393,0.458468,0.345157,0.891678,0.514151,0

# Run HAT Augmentation

In [ ]:
#Start Timing the Execution: (do not change this)
start_time = time.time()

#Create a List cd with Specific Values and prints it 
cd = []
for i in range(0,150): #you need to input your number of columns 
    cd.append('c') 
print(cd)

# Now you can use the renamed column in your class_balance function
# run df_train_0
a_df = class_balance(df_train_0, label_column = 'label_0_majority', cd = cd, augment = False, preserve = True)

# run df_train_1
#a_df = class_balance(df_train_1, label_column = 'label_1_majority', cd = cd, augment = False, preserve = True)

#Print the Time Taken for Execution:
print("\n\n\n>>>>>>>>> %s seconds " % (time.time() - start_time))

# Print new augmented dataframe
print("----------------------------- Augmented DataFrame -------------------------\n")
a_df

# keep the train combined for 500 rows and 150 columns and then add 100 new rows from label1 and 100 new rows from label2
# make this into a new csv file called testing with 700 rows

['c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c']
0
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

1
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

2
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

3
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

4
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

5
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

6
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

7
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

8
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

9
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

10
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

11
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

12
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

13
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

14
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

15
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

16
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

17
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

18
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

19
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

20
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

21
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

22
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

23
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

24
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

25
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

26
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

27
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

28
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

29
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

30
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

31
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

32
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

33
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

34
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

35
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

36
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

37
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

38
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

39
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

40
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

41
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

42
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

43
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

44
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

45
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

46
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

47
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

48
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

49
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

50
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

51
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

52
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

53
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

54
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

55
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

56
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

57
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

58
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

59
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

60
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

61
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

62
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

63
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

64
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

65
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

66
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

67
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

68
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

69
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

70
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

71
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

72
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

73
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

74
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

75
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

76
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

77
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

78
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

79
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

80
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

81
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

82
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

83
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

84
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

85
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

86
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

87
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

88
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

89
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

90
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

91
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

92
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

93
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

94
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

95
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

96
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

97
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

98
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

99
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

100
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

101
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

102
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

103
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

104
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

105
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

106
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

107
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

108
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

109
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

110
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

111
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

112
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

113
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

114
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

115
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

116
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

117
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

118
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

119
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

120
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

121
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

122
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

123
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

124
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

125
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

126
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

127
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

128
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

129
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

130
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

131
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

132
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

133
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

134
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

135
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

136
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

137
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

138
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

139
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

140
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

141
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

142
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

143
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

144
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

145
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

146
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

147
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

148
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

149
Existing data: 250
New data to be produced: 0
0 0

New data generated: 0
New data: 250

       0    1    2    3    4    5    6    7    8    9  ...       141  \
198  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.600071
220  0.0  1.0  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0  ...  0.271489
372  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.577476
6    1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  ...  0.447450
423  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  ...  0.025903
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
453  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.654516
416  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  0.658560
151  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.292120
267  1.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  1.0  ...  0.682845
156  1.0  1.0  1.0  1.0  0.0  1.0  0.0  1.0  1.0  0.0  ...  0.884971

          142       143       144       145       146       147       148  \
198  1.139251  0.826940  1.272623  1.018323  0.698481  1.365619  0.460799
220  0.905137  0.619907  0.835196  0.589189  0.873329  0.891913  0.651581
372  0.517676  0.966714  1.039231  1.093957  1.039338  0.966142  0.677299
6    0.531183  1.323643  0.671446  1.221391  1.390523  1.187784  0.403601
423  0.943888  0.959341  0.195705  0.792991  0.342992  0.290344  0.657581
..        ...       ...       ...       ...       ...       ...       ...
453  0.549396  1.178843  0.670996  0.701854  1.095196  0.802027  0.601649
416  1.293524  0.700707  1.032244  1.363938  0.782910  1.072054  0.716463
151  0.790276  0.629266  1.389115  0.819113  1.372995  0.636902  1.295628
267  0.228399  0.585276  0.089750  0.549333  0.279715  0.346601  0.601132
156  0.893950  0.083569  0.261249  0.223393  0.458468  0.345157  0.891678

          149  label_0_majority
198  1.089924                 0
220  0.984017                 0
372  0.481359                 0
6    0.756095                 0
423  0.333846                 0
..        ...               ...
453  0.913054                 0
416  0.870203                 0
151  0.835012                 0
267  0.893580                 0
156  0.514151                 0

[250 rows x 151 columns]
0
Existing data: 150
New data to be produced: 100
Number of iterations ---> niter_count= 1
2
--- 0.00048613548278808594 seconds ---
Number of iterations ---> niter_count= 2
4
--- 0.0007872581481933594 seconds ---
Number of iterations ---> niter_count= 3
7
--- 0.001354217529296875 seconds ---
Number of iterations ---> niter_count= 4
8
--- 0.002482175827026367 seconds ---
Number of iterations ---> niter_count= 5
9
--- 0.005568027496337891 seconds ---
Number of iterations ---> niter_count= 6
11
--- 0.016326189041137695 seconds ---
Number of iterations ---> niter_count= 7
13
--- 0.05511808395385742 seconds ---
Number of iterations ---> niter_count= 8
15
--- 0.2057819366455078 seconds ---
Number of iterations ---> niter_count= 9
18
--- 0.7885549068450928 seconds ---
Number of iterations ---> niter_count= 10
20
--- 3.086771249771118 seconds ---
Number of iterations ---> niter_count= 11
24
--- 12.851559162139893 seconds ---
Number of iterations ---> niter_count= 12
25
--- 51.18391418457031 seconds ---
Number of iterations ---> niter_count= 13
27
--- 196.9716079235077 seconds ---
Number of iterations ---> niter_count= 14

In [ ]:
#save training data (not necessary)
#X_test.to_csv('X_test_XGB.csv', index=False)
#y_test.to_csv('y_test_XGB.csv', index=False)