In [542]:
#HAT Histogram Augmentation Technique (HAT) is used widely to augment and classify any tabular data
#HAT is designed such that the generated data retains the distribution of the original tabular data histogram
#HATanalyses the data distribution of a particular feature and based on the feature type (i.e. continuous or discrete) it generates new samples

In [544]:
#IMPORT important libraries
import numpy as np
import pandas as pd
import time
from collections import Counter
pd.DataFrame.iteritems = pd.DataFrame.items

In [546]:
#define histogram function
#data: This is the original dataset that you want to use for generating new data
#no_new_data: This parameter indicates how much new data you want to generate
#data_feat: This parameter specifies the type of data feature. It can be either 'c' for continuous data or 'd' for discrete data.
#preserve: This parameter determines whether to preserve the original dataset or not while generating new data. If set to True, the original dataset will be included in the generated data; otherwise, it won't be included.
def histogram_sampler(data, no_new_data, data_feat, preserve):

    if (data_feat == 'c'):
        start_time = time.time()
        print("Existing data:", len(data))
        print("New data to be produced:", no_new_data)

#Function parameters
#X_new = New data for each iteration
#len_X_new = length of the newly generated data
#iter_count = number of iterations
#data_gen = Augmented data (original data + newly generated data)
        
        X_new = []
        len_X_new = len(X_new)
        iter_count = 0
        data_gen = data


         # Histogram calculation and sampling logic goes here...
        # Adjust the condition for the while loop
        while (len_X_new < 0.7 * no_new_data):
            iter_count += 1
            print("Number of iterations ---> niter_count=", iter_count)

            
#Histogram: Generating the histogram , choosing the mid-value of the bins, and normalizing frequency
#fd- Freedmanâ€“Diaconis rule is employed to choose the bin size, as it depends on the spread of the data, without any presumption
            if (iter_count == 1):
                Y,X_interval=np.histogram(data_gen,bins='doane')
                n_bins = len(Y)
            else:
                Y,X_interval=np.histogram(data_gen,bins=n_bins)

            
            X = ((X_interval[0:-1] + X_interval[1:])/2) 
            Y = Y/max(Y)

            bin_val = list(np.round(X,8))
            weight = list(Y)
            hist = dict(zip(bin_val,weight))

            for xi in bin_val[0:-1]:

#Values: choosing the values for undergoing validity check

                bin_width = ((max(bin_val) - min(bin_val)) / int(len(bin_val)-1))
                xm = xi + (bin_width/2)
                x1 = xi
                y1 = hist[xi]

                res = None
                temp = iter(hist)
                for key in temp:
                    if(key == xi):
                        res = next(temp,None)

                y2 = hist[res]
                ym = ((y1+y2)/2)
#Validity check: checking if the specified value can be considered
#if(no_new_data <= len(data)):
#ym = ym*(np.random.rand()<=ym)
#y1 = y1*(np.random.rand()<=y1)
    
                #else:
                ym = ym*(abs(np.random.normal(0,0.5))<=ym)
                y1 = y1*(abs(np.random.normal(0,0.5))<=y1)

#Appending: appending the valid values
                

                if (ym!=0):
                    X_new.append(np.round(xm,8))
                    #X_new.append(np.round(xm+0.1*xm,8))
                    #X_new.append(np.round(xm-0.1*xm,8))
                if (y1!=0):
                    X_new.append(np.round(x1,8))
                    #X_new.append(np.round(x1+0.1*xm,8))
                    #X_new.append(np.round(x1-0.1*xm,8))
#Stopping: bins * 2, length check

            data_gen = data_gen + X_new
            n_bins = n_bins*2     
            len_X_new+= len(X_new)
            print(len_X_new)
            X_new = []
            print("--- %s seconds ---" % (time.time() - start_time))


        print(len(data_gen)-len(data),no_new_data)

        if(len(data_gen)-len(data) >= no_new_data):
            data_gen = data_gen[:len(data)] + list(np.random.choice(data_gen[len(data):], no_new_data, replace = False))
            print('\nNew data generated:', len(data_gen[len(data):]), '\nNew data:', len(data_gen), '\n')
            #sns.distplot(data_gen)
            if(preserve == False):
                data_gen = data_gen[len(data):]
            return data_gen

        else:
            print('to discrete...', no_new_data - (len(data_gen)-len(data)))
            samples = histogram_sampler(data_gen, no_new_data - (len(data_gen)-len(data)), 'd', preserve = True)
            if(preserve == False):
                samples = samples[len(data):]
            return samples
            
    elif(data_feat == 'd'):
        X_new=[]
        data_gen=[]
        disc_data= list(set(data))

        for i in disc_data: 
            x=data.count(i)
            X_new.append(round(x*(no_new_data) / len(data)))
        #print(x_new,sum(x_new))

        for j in range(0,len(X_new)):
            for i in range(X_new[j]):
                data_gen.append(disc_data[j])

        if(len(data_gen)==0):
            data_gen = data + data_gen

        print(no_new_data, sum(X_new))            
        if(no_new_data > sum(X_new)):
            data_gen = data + data_gen
            data_gen = list(data_gen + list(np.random.choice(data_gen,int(no_new_data-sum(X_new)),replace = False)))    

        data_gen = list(np.random.choice(data_gen,int(no_new_data),replace = False))   
        
        if(preserve == True):
            data_gen = data + data_gen
    
        #sns.distplot(data_gen)     
        print('\nNew data generated:', len(data_gen[len(data):]), '\nNew data:', len(data_gen), '\n') 
        return data_gen
        
    else:
        print('NA')

In [548]:
#df_class : This parameter represents the DataFrame containing the data.
#diff :This parameter specifies the difference or ratio between the number of samples in the smallest and largest classes after splitting
#label_name: It's the column in your DataFrame that you want to use for splitting the data.
#cd: It can take values 'c' for continuous classes or 'd' for discrete classes.
#label_column: It helps the function identify which column contains the labels or classes.
#preserve: If set to `True`, the original dataset will be included in the split data; otherwise, it won't be included.
def label_split(df_class, diff, label_name , cd, label_column, preserve):
    cdi = 0
    df_ = pd.DataFrame(columns=[])
    del df_class[label_column]
    for (columnName, columnData) in df_class.iteritems(): 
        print(columnName)
        feat_type = cd[cdi]
        df_[columnName] = histogram_sampler(list(columnData.values), diff, feat_type, preserve)
        cdi+=1
    df_[label_column] = label_name
    print(df_)

    return df_

In [550]:
def class_balance(data, label_column, cd, augment = False, preserve = True):
    split_list=[]
    #label_column = 'species'
    for label, df_label in data.groupby(label_column):
        split_list.append(df_label)

    maxLength = max(len(x) for x in split_list)

    if(augment == False):
        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = maxLength - len(split_list[i])
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])

    elif(type(augment) == dict):
        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = augment[label_name]
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])

    elif(type(augment) == int):

        label_count = dict(Counter(list(df[label_column])))
        count_key = list(label_count.keys())
        count_val = list(label_count.values())

        for i in range(0,len(count_val)):
            count_val[i] = round(count_val[i] * augment  /sum(list(label_count.values())))


        while(sum(count_val) != augment):
            if(sum(count_val) > augment):
                rand_indx = int(np.random.rand() * len(count_val))
                if(count_val[rand_indx] > 0):
                    count_val[rand_indx]-= 1

            else:
                rand_indx = int(np.random.rand() * len(count_val))
                count_val[rand_indx]+= 1

        new_count = dict(zip(count_key, count_val))

        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = new_count[label_name]
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])


        #finaldf = class_balance(data, label_column, cd, augment = new_count, preserve = preserve)


    for i in range(0,len(split_list)):
        finaldf = pd.concat([finaldf,augmented_list[i]],axis=0)

    return finaldf

In [552]:
#This is where you begin coding!
#Upload your dataset file
#If this dataset is not inbalanced, you MUST make it
#The program will run and give you a final table creating the new data and time for execution 
df = pd.read_csv('IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [554]:
#You need to make the data inbalanced
df_unbalanced = df.head(70).copy()

# If the last column "label column" in your data set is not in form of "INT", you must change it 
# Replace species names (label column) with numbers
# Map the species column as specified
species_mapping = {
    'Iris-setosa': 1,
    'Iris-versicolor': 2,
    'Iris-virginica': 3
}
df_unbalanced['species'] = df_unbalanced['species'].map(species_mapping)

# Save the modified dataset to a new CSV file
df_unbalanced.to_csv('Iris_unbalanced.csv', index=False)

print("Unbalanced dataset saved as Iris_unbalanced.csv")
print(df_unbalanced)

Unbalanced dataset saved as Iris_unbalanced.csv
    sepal_length  sepal_width  petal_length  petal_width  species
0            5.1          3.5           1.4          0.2        1
1            4.9          3.0           1.4          0.2        1
2            4.7          3.2           1.3          0.2        1
3            4.6          3.1           1.5          0.2        1
4            5.0          3.6           1.4          0.2        1
..           ...          ...           ...          ...      ...
65           6.7          3.1           4.4          1.4        2
66           5.6          3.0           4.5          1.5        2
67           5.8          2.7           4.1          1.0        2
68           6.2          2.2           4.5          1.5        2
69           5.6          2.5           3.9          1.1        2

[70 rows x 5 columns]

In [556]:
#used to display the count of unique values in the column 'species'
print(df_unbalanced['species'].value_counts())

species
1    50
2    20
Name: count, dtype: int64

In [558]:
#Start Timing the Execution:
start_time = time.time()

#Create a List cd with Specific Values and prints it
cd = []
for i in range(0,4):
    cd.append('c')
print(cd)

#Balance the Classes in the DataFrame:
a_df = class_balance(df_unbalanced, label_column = 'species', cd = cd, augment = False, preserve = True)

#Print the Time Taken for Execution:
print("\n\n\n>>>>>>>>> %s seconds " % (time.time() - start_time))
a_df

['c', 'c', 'c', 'c']
sepal_length
Existing data: 50
New data to be produced: 0
0 0

New data generated: 0
New data: 50

sepal_width
Existing data: 50
New data to be produced: 0
0 0

New data generated: 0
New data: 50

petal_length
Existing data: 50
New data to be produced: 0
0 0

New data generated: 0
New data: 50

petal_width
Existing data: 50
New data to be produced: 0
0 0

New data generated: 0
New data: 50

    sepal_length  sepal_width  petal_length  petal_width  species
0            5.1          3.5           1.4          0.2        1
1            4.9          3.0           1.4          0.2        1
2            4.7          3.2           1.3          0.2        1
3            4.6          3.1           1.5          0.2        1
4            5.0          3.6           1.4          0.2        1
5            5.4          3.9           1.7          0.4        1
6            4.6          3.4           1.4          0.3        1
7            5.0          3.4           1.5          0.2        1
8            4.4          2.9           1.4          0.2        1
9            4.9          3.1           1.5          0.1        1
10           5.4          3.7           1.5          0.2        1
11           4.8          3.4           1.6          0.2        1
12           4.8          3.0           1.4          0.1        1
13           4.3          3.0           1.1          0.1        1
14           5.8          4.0           1.2          0.2        1
15           5.7          4.4           1.5          0.4        1
16           5.4          3.9           1.3          0.4        1
17           5.1          3.5           1.4          0.3        1
18           5.7          3.8           1.7          0.3        1
19           5.1          3.8           1.5          0.3        1
20           5.4          3.4           1.7          0.2        1
21           5.1          3.7           1.5          0.4        1
22           4.6          3.6           1.0          0.2        1
23           5.1          3.3           1.7          0.5        1
24           4.8          3.4           1.9          0.2        1
25           5.0          3.0           1.6          0.2        1
26           5.0          3.4           1.6          0.4        1
27           5.2          3.5           1.5          0.2        1
28           5.2          3.4           1.4          0.2        1
29           4.7          3.2           1.6          0.2        1
30           4.8          3.1           1.6          0.2        1
31           5.4          3.4           1.5          0.4        1
32           5.2          4.1           1.5          0.1        1
33           5.5          4.2           1.4          0.2        1
34           4.9          3.1           1.5          0.1        1
35           5.0          3.2           1.2          0.2        1
36           5.5          3.5           1.3          0.2        1
37           4.9          3.1           1.5          0.1        1
38           4.4          3.0           1.3          0.2        1
39           5.1          3.4           1.5          0.2        1
40           5.0          3.5           1.3          0.3        1
41           4.5          2.3           1.3          0.3        1
42           4.4          3.2           1.3          0.2        1
43           5.0          3.5           1.6          0.6        1
44           5.1          3.8           1.9          0.4        1
45           4.8          3.0           1.4          0.3        1
46           5.1          3.8           1.6          0.2        1
47           4.6          3.2           1.4          0.2        1
48           5.3          3.7           1.5          0.2        1
49           5.0          3.3           1.4          0.2        1
sepal_length
Existing data: 20
New data to be produced: 30
Number of iterations ---> niter_count= 1
10
--- 0.0008721351623535156 seconds ---
Number of iterations ---> niter_count= 2
25
--- 0.0012159347534179688 seconds ---
25 30
to discrete... 5
5 1

New data generated: 5
New data: 50

sepal_width
Existing data: 20
New data to be produced: 30
Number of iterations ---> niter_count= 1
8
--- 0.0003781318664550781 seconds ---
Number of iterations ---> niter_count= 2
23
--- 0.001421213150024414 seconds ---
23 30
to discrete... 7
7 0

New data generated: 7
New data: 50

petal_length
Existing data: 20
New data to be produced: 30
Number of iterations ---> niter_count= 1
10
--- 0.0005059242248535156 seconds ---
Number of iterations ---> niter_count= 2
24
--- 0.0008831024169921875 seconds ---
24 30
to discrete... 6
6 1

New data generated: 6
New data: 50

petal_width
Existing data: 20
New data to be produced: 30
Number of iterations ---> niter_count= 1
8
--- 0.00039124488830566406 seconds ---
Number of iterations ---> niter_count= 2
20
--- 0.0006802082061767578 seconds ---
Number of iterations ---> niter_count= 3
32
--- 0.0010890960693359375 seconds ---
32 30

New data generated: 30
New data: 50

    sepal_length  sepal_width  petal_length  petal_width  species
0         7.0000     3.200000      4.700000     1.400000        2
1         6.4000     3.200000      4.500000     1.500000        2
2         6.9000     3.100000      4.900000     1.500000        2
3         5.5000     2.300000      4.000000     1.300000        2
4         6.5000     2.800000      4.600000     1.500000        2
5         5.7000     2.800000      4.500000     1.300000        2
6         6.3000     3.300000      4.700000     1.600000        2
7         4.9000     2.400000      3.300000     1.000000        2
8         6.6000     2.900000      4.600000     1.300000        2
9         5.2000     2.700000      3.900000     1.400000        2
10        5.0000     2.000000      3.500000     1.000000        2
11        5.9000     3.000000      4.200000     1.500000        2
12        6.0000     2.200000      4.000000     1.000000        2
13        6.1000     2.900000      4.700000     1.400000        2
14        5.6000     2.900000      3.600000     1.300000        2
15        6.7000     3.100000      4.400000     1.400000        2
16        5.6000     3.000000      4.500000     1.500000        2
17        5.8000     2.700000      4.100000     1.000000        2
18        6.2000     2.200000      4.500000     1.500000        2
19        5.6000     2.500000      3.900000     1.100000        2
20        5.2500     2.371429      3.414286     1.257143        2
21        5.0750     2.278571      3.757143     1.321429        2
22        5.6000     2.557143      3.642857     1.460714        2
23        5.4250     2.742857      3.985714     1.300000        2
24        5.9500     2.928571      3.871429     1.514286        2
25        5.7750     2.835714      4.214286     1.396429        2
26        6.3000     3.114286      4.100000     1.385714        2
27        6.1250     3.021429      4.442857     1.557143        2
28        6.6500     2.278571      4.328571     1.010714        2
29        6.4750     2.232143      4.671429     1.385714        2
30        5.0750     2.325000      3.528571     1.407143        2
31        5.2500     2.464286      3.700000     1.514286        2
32        5.1625     2.510714      4.100000     1.471429        2
33        5.4250     2.742857      4.042857     1.042857        2
34        5.6000     2.696429      4.157143     1.503571        2
35        5.5125     2.789286      4.328571     1.492857        2
36        5.7750     2.928571      4.442857     1.021429        2
37        5.9500     2.882143      4.385714     1.342857        2
38        6.1250     3.021429      4.557143     1.042857        2
39        6.0375     2.975000      4.500000     1.342857        2
40        6.4750     3.114286      4.671429     1.514286        2
41        6.3875     3.067857      4.614286     1.428571        2
42        6.5625     3.160714      4.785714     1.321429        2
43        6.8250     2.400000      4.728571     1.471429        2
44        6.7375     3.200000      4.600000     1.310714        2
45        5.4250     2.800000      4.100000     1.471429        2
46        6.3875     2.557143      4.500000     1.021429        2
47        5.6000     2.835714      3.414286     1.107143        2
48        5.2500     3.067857      4.728571     1.492857        2
49        5.6000     2.278571      4.100000     1.439286        2



>>>>>>>>> 0.0239410400390625 seconds

    sepal_length  sepal_width  petal_length  petal_width  species
0         5.1000     3.500000      1.400000     0.200000        1
1         4.9000     3.000000      1.400000     0.200000        1
2         4.7000     3.200000      1.300000     0.200000        1
3         4.6000     3.100000      1.500000     0.200000        1
4         5.0000     3.600000      1.400000     0.200000        1
..           ...          ...           ...          ...      ...
45        5.4250     2.800000      4.100000     1.471429        2
46        6.3875     2.557143      4.500000     1.021429        2
47        5.6000     2.835714      3.414286     1.107143        2
48        5.2500     3.067857      4.728571     1.492857        2
49        5.6000     2.278571      4.100000     1.439286        2

[100 rows x 5 columns]