# Import Data

In [43]:
import os
import pandas as pd
import numpy as np

data = np.loadtxt("C:/Users/aceme/OneDrive/Documents/GitHub/BP24/Fabiana/Demos Fabi/uniform_large_d_1.tex")

# Creating NumPy array
array = np.array(data)

# Converting to Pandas DataFrame
df = pd.DataFrame(array)

# Look at data
df.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,0.604431,0.724054,1.295053,0.495865,0.607451,0.547615,0.564150,0.468880,0.420394,0.910129,...,0.660629,1.325968,1.282151,0.600550,0.592177,0.776711,1.085891,1.153748,1.352572,1.0
1,1.180423,1.391002,1.184481,0.583052,1.210490,0.923676,1.185203,1.369972,1.201448,0.614857,...,0.892705,0.848612,1.298801,1.250497,0.547771,1.215082,0.940952,1.109552,1.181372,1.0
2,1.067779,0.718696,0.798901,1.369462,0.470935,0.566282,1.398846,1.015372,0.801271,1.330270,...,1.339399,0.417466,0.496915,0.661756,0.875185,1.293924,0.750581,0.742218,0.993983,1.0
3,0.368247,0.730771,0.134119,0.984532,0.397524,0.470181,0.025061,0.648142,0.016333,0.973801,...,0.086188,0.394613,0.252668,0.808593,0.587922,0.827502,0.862651,0.684517,0.149873,0.0
4,0.919760,0.577797,0.441661,0.862139,0.263016,0.393494,0.635624,0.657747,0.781920,0.566910,...,0.816635,0.319880,0.770176,0.919029,0.265299,0.983398,0.956898,0.175083,0.170124,0.0

# Convert 25/150 Columns into NON-CONSECUTIVE Categorical Variables

In [77]:
# Converting 25 columns from numerical floats -> categorical integers
for i in range(0,125,5):
    
    df.iloc[:,i] = df.iloc[:,i].round() # Rounding
    df.iloc[:,i] = df.iloc[:,i].astype(int) # Integer

In [79]:
df.head()
df[0].dtype

dtype('float64')

# Train Test Split

In [63]:
from sklearn.model_selection import train_test_split
# Split dataset into X_train and y_train
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,1:150], df.iloc[:,-1], test_size=0.2, random_state=52)

In [65]:
y_train

159    0.0
198    1.0
259    1.0
301    1.0
220    0.0
      ...
86     0.0
151    1.0
13     1.0
267    0.0
156    0.0
Name: 150, Length: 400, dtype: float64

# Subset into Categorical

In [85]:
# Creating subset of only CATEGORICAL variables + LABEL
categorical_df = X_train.select_dtypes(exclude=['float64'])
categorical_df

Empty DataFrame
Columns: []
Index: [159, 198, 259, 301, 220, 270, 372, 136, 6, 108, 423, 309, 451, 58, 316, 459, 47, 160, 368, 37, 260, 402, 465, 44, 183, 339, 294, 323, 255, 421, 322, 161, 180, 178, 406, 56, 230, 233, 90, 188, 456, 91, 176, 446, 318, 68, 411, 164, 60, 117, 486, 89, 78, 365, 162, 417, 33, 405, 340, 3, 184, 133, 491, 398, 347, 42, 352, 134, 35, 444, 285, 165, 472, 476, 22, 314, 111, 308, 85, 190, 0, 207, 331, 115, 245, 222, 384, 264, 107, 181, 477, 229, 119, 95, 94, 152, 2, 355, 194, 210, ...]

[400 rows x 0 columns]

In [26]:
# Check if all your rows are unique
print(len(categorical_df))
categorical_df.drop_duplicates()
print(len(categorical_df))

400
400

# Subset into Numerical

In [29]:
# Creating subset of only NUMERICAL variables from X_train
numerical_df = X_train.select_dtypes(include=['float64'])
numerical_df

,1,2,3,4,5,6,7,8,9,10,...,140,141,142,143,144,145,146,147,148,149
159,0.554309,0.598363,0.132413,0.889718,1.0,0.286339,0.137785,0.812635,0.568295,0.0,...,0.128504,0.585810,0.766640,0.340473,0.350218,0.274646,0.093124,0.001300,0.899399,0.368022
198,1.342918,0.829409,1.397161,1.273915,1.0,1.290568,1.056355,0.634796,1.067666,1.0,...,1.385530,0.600071,1.139251,0.826940,1.272623,1.018323,0.698481,1.365619,0.460799,1.089924
259,0.566002,1.159321,0.610610,0.438550,1.0,0.920222,0.571831,0.443493,0.704918,0.0,...,0.658827,0.488724,1.184376,1.056230,0.478523,0.910375,0.718602,0.753928,0.936283,0.423786
301,0.437964,0.987448,0.662988,0.907779,1.0,0.649181,0.918634,0.969021,0.901557,1.0,...,1.329065,0.528018,0.747393,1.137783,0.521072,1.136169,1.091905,0.533929,1.024574,0.561742
220,0.904824,0.622987,0.165312,0.422169,0.0,0.866347,0.931311,0.408075,0.870877,1.0,...,0.301774,0.271489,0.905137,0.619907,0.835196,0.589189,0.873329,0.891913,0.651581,0.984017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,0.334586,0.252707,0.641885,0.672398,1.0,0.377373,0.214240,0.756121,0.002521,0.0,...,0.261558,0.709312,0.034474,0.437128,0.989087,0.780784,0.299435,0.101811,0.088816,0.493946
151,0.513513,0.922221,0.941602,0.695035,1.0,0.788037,1.347846,0.564073,1.186057,1.0,...,0.767802,1.292120,0.790276,0.629266,1.389115,0.819113,1.372995,0.636902,1.295628,0.835012
13,0.582070,0.576244,0.980894,1.087916,1.0,0.497723,0.722528,0.714051,1.188008,1.0,...,1.128536,1.195708,0.590900,0.480853,1.021578,0.949964,1.075881,0.682236,0.734495,1.123123
267,0.742340,0.307475,0.275311,0.564040,1.0,0.426491,0.004217,0.482527,0.692627,1.0,...,0.191653,0.682845,0.228399,0.585276,0.089750,0.549333,0.279715,0.346601,0.601132,0.893580
156,0.612792,0.827038,0.608207,0.117738,1.0,0.115049,0.622007,0.747589,0.205046,1.0,...,0.328921,0.884971,0.893950,0.083569,0.261249,0.223393,0.458468,0.345157,0.891678,0.514151

# Fixing Chi-Squared FvL

In [ ]:
##################### Chi-Square (F vs label column) Code ####################################
print("\n-----------------------Chi-squared test (Feature v. Label)-------------------------------")
    
# Finds dependency between all features in X_train & the label in y_train
def chi_squared_fvl(X_train, y_train):
        
    # Combining X_train and y_train
    df = X_train
    df['label'] = y_train

    # Number of features, excluding label
    var_count = len(df.columns)-1

    # Creates an empty array for Chi2 and P-values
    results = []

    # Creates an empty boolean array for contingency table cells <5
    below_5 = []

    for i in range(0, var_count):

        # Create contigency table of all features v. label
        contingency_table = pd.crosstab(df.iloc[:, i], df.iloc[:,-1])
        
        # Check if any cell in the contingency table is below 5 & appends
        below_5.append((contingency_table < 5).any().any())
            
        # Compute chi-squared and p-values
        chi2 = stats.chi2_contingency(contingency_table)[0]
        p = stats.chi2_contingency(contingency_table)[1]
            
        # Append results to the list
        results.append({
            "Feature": df.columns[i],
            "Chi Squared Statistic": chi2,
            "P-Value": p})

    # Create a dataFrame from the results
    results_df = pd.DataFrame(results)

    # Print warning if any cells are below 5
    if any(below_5):
        print("WARNING: The validity of this chi-squared test may be violated as there are \n         cells below 5 in your contingency table of observed values.") 
    
    # Print the dataFrame
    print("Label:", df.columns.values[-1])
    print(results_df.to_string(index=False))
    
chi_squared_fvl(categorical_df, y_train)