# Important: F vs L --> Chi-Square Test 
- Chi-Square prints a p-values column  that will be changed to True and False. If the p-value is less than 0.05, then there is NO relationship, this is print TRUE (H0: null hypothesis). Otherwise, if p > 0.05 there is a relationship, this will print FALSE (Ha:  Alternative hypothesis)
- Goal is to print the count of the changes -->  from True to False OR from False to True
- Both data1 and data2 MUST have the same number of numerical and categorical columns. We will test 13 columns for all datasets with 8 'numerical'(at the beginning) and 5 'categorical' columns (at the end, including the label column)

In [1]:
import numpy as np
import pandas as pd
from numpy import linalg
from sklearn.model_selection import train_test_split
from itertools import combinations
from scipy import stats

# Upload Dataset

In [3]:
# Datasets before augmentation (synthetic)
#data1 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Gaussian/gaussian_orig.csv", header=None)
#data1 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Uniform/uniform_orig.csv", header=None)
data1 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Stacked/stacked_orig.csv", header=None)



# Datasets after augmentation
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Stacked/stacked_new.csv", header=None)
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/stacked_HAT.csv")
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/stacked_modpmone.csv")
data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/stacked_randswap.csv")


#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Uniform/uniform_new.csv", header=None)
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/uniform_HAT.csv")
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/uniform_modpmone.csv")
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/uniform_randswap.csv")


#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Gaussian/gaussian_new.csv", header=None)
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/gaussian_HAT.csv")
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/gaussian_modpmone.csv")
#data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/AugSynDatasets/gaussian_randswap.csv")

In [ ]:
data1 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Gaussian/gaussian_orig.csv", header=None)
data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Gaussian/gaussian_new.csv", header=None)

In [ ]:
data1 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Uniform/uniform_orig.csv", header=None)
data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Uniform/uniform_new.csv", header=None)

In [ ]:
data1 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Stacked/stacked_orig.csv", header=None)
data2 = pd.read_csv("/Users/fabianafazio/Documents/GitHub/BP24/Ellee/Data/Stacked/stacked_new.csv", header=None)

# Shapes of Datasets
- They must be the same, if they are not--> run specific cells to make them have the same dimensions

In [ ]:
# Print shapes for debugging 
print(f"Shape of data1: {data1.shape}")
print(f"Shape of data2: {data2.shape}")

# Uniform Distribution

In [ ]:
# Define the primary columns to move to the end    
primary_indices = [2, 7, 10, 15, 24]
primary_columns = data1.columns[primary_indices]

# Define the initial columns, excluding the primary columns
initial_columns = [col for col in data1.columns if col not in primary_columns]

# Combine the initial columns with the primary columns
new_column_order = initial_columns + list(primary_columns)

# Reorder the DataFrame
data1 = data1[new_column_order]

# Grab the last 13 columns
data1_last_13 = data1.iloc[:, -13:]

# Apply rounding and conversion to integers for the last 5 columns
#data1_last_13.iloc[:, -5:] = data1_last_13.iloc[:, -5:].round().astype(int)  # only for new generated points

# Reset the column index to go from 0 to 12
data1_last_13.columns = range(13)   #only for synthetic dataset


# Display the first few rows of the new DataFrame
print(data1_last_13.dtypes)

In [ ]:
data1_last_13

In [ ]:
# Define the primary columns to move to the end
primary_indices = [2, 7, 10, 15, 24]
primary_columns = data2.columns[primary_indices]

# Define the initial columns, excluding the primary columns
initial_columns = [col for col in data2.columns if col not in primary_columns]

# Combine the initial columns with the primary columns
new_column_order = initial_columns + list(primary_columns)

# Reorder the DataFrame
data2 = data2[new_column_order]

# Grab the last 13 columns
data2_last_13 = data2.iloc[:, -13:]

# Apply rounding and conversion to integers for the last 5 columns
data2_last_13.iloc[:, -5:] = data2_last_13.iloc[:, -5:].round().astype(int)  # only for new generated points

# Reset the column index to go from 0 to 12
data2_last_13.columns = range(13)


# Display the first few rows of the new DataFrame
print(data2_last_13.dtypes)

In [ ]:
data2_last_13

# Gaussian Distribution

In [ ]:
# Define the primary columns to move to the end
primary_indices = [2, 3, 7, 9, 12]
primary_columns = data1.columns[primary_indices]

# Define the initial columns, excluding the primary columns
initial_columns = [col for col in data1.columns if col not in primary_columns]

# Combine the initial columns with the primary columns
new_column_order = initial_columns + list(primary_columns)

# Reorder the DataFrame
data1 = data1[new_column_order]

# Grab the last 13 columns
data1_last_13 = data1.iloc[:, -13:]

# Apply rounding and conversion to integers for the last 5 columns
#data1_last_13.iloc[:, -5:] = data1_last_13.iloc[:, -5:].round().astype(int)  # only for new generated points

# Reset the column index to go from 0 to 12
data1_last_13.columns = range(13)


# Display the first few rows of the new DataFrame
print(data1_last_13.dtypes)

In [ ]:
data1_last_13

In [ ]:
# Define the primary columns to move to the end
primary_indices = [2, 3, 7, 9, 12]
primary_columns = data2.columns[primary_indices]

# Define the initial columns, excluding the primary columns
initial_columns = [col for col in data2.columns if col not in primary_columns]

# Combine the initial columns with the primary columns
new_column_order = initial_columns + list(primary_columns)

# Reorder the DataFrame
data2 = data2[new_column_order]

# Grab the last 13 columns
data2_last_13 = data2.iloc[:, -13:]

# Apply rounding and conversion to integers for the last 5 columns
data2_last_13.iloc[:, -5:] = data2_last_13.iloc[:, -5:].round().astype(int)  # only for new generated points

# Reset the column index to go from 0 to 12
data2_last_13.columns = range(13)


# Display the first few rows of the new DataFrame
print(data2_last_13.dtypes)

In [ ]:
data2_last_13

# Stacked Distribution

In [6]:
# indexes 16, 17, 18, 19, 20, 21, 22, 23, 24 'categorical' --> we will change this later on 
# Define the primary columns to move to the end
primary_indices = [16, 17, 18, 19, 24]
primary_columns = data1.columns[primary_indices]

# Define the initial columns, excluding the primary columns
initial_columns = [col for col in data1.columns if col not in primary_columns]

# Combine the initial columns with the primary columns
new_column_order = initial_columns + list(primary_columns)

# Reorder the DataFrame
data1 = data1[new_column_order]

# Grab the first 8 columns and the last 5 columns (which are the primary columns)
data1_last_13 = pd.concat([data1.iloc[:, :8], data1.iloc[:, -5:]], axis=1)


# Reset the column index to go from 0 to 12
data1_last_13.columns = range(13)

# Display the first few rows of the new DataFrame
print(data1_last_13.dtypes)

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
dtype: object

In [8]:
data1_last_13

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.523644,-0.273276,-0.116495,0.405252,1.197326,0.596777,0.538033,0.354814,0.0,6.0,2.0,2.0,0.0
1,1.910844,0.797754,3.256096,1.803028,-1.190719,0.792517,1.187202,1.193782,1.0,1.0,2.0,0.0,1.0
2,0.614962,1.306320,-0.156224,0.208113,-0.142056,0.331569,-0.139525,1.683484,1.0,0.0,0.0,0.0,0.0
3,-0.070894,0.848884,0.023903,0.232592,1.261394,0.678807,0.218641,0.276284,1.0,1.0,0.0,0.0,0.0
4,0.493572,0.730451,0.669870,0.671474,0.927129,-0.167649,0.735716,0.356140,0.0,0.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,0.794388,0.274516,0.180763,0.435718,1.275335,0.705205,1.317206,0.945085,0.0,0.0,0.0,1.0,0.0
236,0.520387,-1.083603,0.621607,0.629536,0.751939,-0.883465,0.337003,-0.412355,0.0,1.0,1.0,1.0,0.0
237,3.168389,1.261369,2.362146,1.498775,3.540290,-0.528903,0.764048,-0.492612,0.0,1.0,2.0,0.0,1.0
238,3.957235,2.410099,0.698402,-1.049969,0.876141,-0.665939,0.346620,0.034450,1.0,2.0,0.0,0.0,1.0
239,1.903798,0.637188,0.683087,0.521806,0.537816,0.756112,0.143213,0.374679,1.0,2.0,3.0,0.0,0.0

In [10]:
# indexes 16, 17, 18, 19, 20, 21, 22, 23, 24 'categorical' --> we will change this later on 
# Define the primary columns to move to the end
primary_indices = [16, 17, 18, 19, 24]
primary_columns = data2.columns[primary_indices]

# Define the initial columns, excluding the primary columns
initial_columns = [col for col in data2.columns if col not in primary_columns]

# Combine the initial columns with the primary columns
new_column_order = initial_columns + list(primary_columns)

# Reorder the DataFrame
data2 = data2[new_column_order]

# Grab the first 8 columns and the last 5 columns (which are the primary columns)
data2_last_13 = pd.concat([data2.iloc[:, :8], data2.iloc[:, -5:]], axis=1)

# Reset the column index to go from 0 to 12
data2_last_13.columns = range(13)

# Display the first few rows of the new DataFrame
print(data2_last_13.dtypes)

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
dtype: object

In [12]:
data2_last_13

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.910844,0.797754,3.256096,1.803028,-1.190719,0.792517,1.187202,1.193782,1.0,1.0,2.0,0.0,1.0
1,0.614962,1.306320,-0.156224,0.208113,-0.142056,0.331569,-0.139525,1.683484,1.0,0.0,0.0,0.0,0.0
2,-0.070894,0.848884,0.023903,0.232592,1.261394,0.678807,0.218641,0.276284,1.0,1.0,0.0,0.0,0.0
3,0.493572,0.730451,0.669870,0.671474,0.927129,-0.167649,0.735716,0.356140,0.0,0.0,2.0,1.0,0.0
4,0.018944,0.429406,0.178888,0.085866,-0.136803,0.513678,0.443401,0.431295,0.0,2.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,0.414757,1.572467,0.498227,-0.280880,0.072822,0.833823,-0.900200,2.002458,0.0,3.0,2.0,0.0,0.0
475,0.633351,1.227757,2.938073,2.393558,0.038900,0.451999,0.026032,1.183106,2.0,1.0,0.0,0.0,1.0
476,1.211799,2.463494,0.852726,0.629616,0.230524,1.292093,2.731894,0.188351,0.0,1.0,0.0,1.0,1.0
477,-0.536855,0.478004,1.109635,1.005100,-1.822491,-0.167649,1.309079,-0.297547,0.0,2.0,1.0,0.0,0.0
478,-0.532639,3.238793,0.695212,-0.046575,0.846914,-0.183261,-0.102792,-1.920203,3.0,1.0,0.0,2.0,0.0

# Data1: Synthetic Data

In [14]:
################### Convert 5 last columns to int then categorical ############
# Convert the last 5 columns to integers
for col in data1_last_13.columns[-5:]:
    data1_last_13[col] = data1_last_13[col].astype(int)

print(data1_last_13.dtypes)
##################### Subsetting data ################################


# Splitting numerical subset 
numerical_df = data1_last_13.select_dtypes(include = ['float', 'float64'])

# Splitting categorical subset 
categorical_df = data1_last_13.select_dtypes(exclude=['float', 'float64'])

##################### Chi-Square (F vs label column) Code ####################################
# Extract y_train (column with index 12)
y_train = data1.iloc[:, 12]    

print("\n------------------------Chi-Square (F vs label column)------------------------")
# Finds dependency between all CATEGORICAL features in X_train & the label in y_train
def chi_squared_fvl(X_train_categorical, y_train):
        
    # Combining CATEGORICAL X_train and y_train
    df = X_train_categorical
    df['label'] = y_train

    # Number of features, excluding label
    var_count = len(df.columns)-1

    # Creates an empty array to print values in a table
    results = []

    for i in range(0, var_count):

        # Create contigency table of all features v. label
        crosstab = pd.crosstab(df.iloc[:, i], df.iloc[:,-1])
            
        # Compute chi-squared and p-values
        chi2 = stats.chi2_contingency(crosstab)[0]
        p = stats.chi2_contingency(crosstab)[1]
            
        # Append results to the list
        results.append({
            "Feature": df.columns[i],
            "Chi Squared Statistic": chi2,
            "P-Value": p})

    # Create a DataFrame from the results
    results_df = pd.DataFrame(results)

    # Print the DataFrame
    print("Label:", df.columns.values[-1])
    print(results_df.to_string(index=False))

    return results_df
    
results_df = chi_squared_fvl(categorical_df, y_train)



#################### Change p_values_df to True and False Table #################################
print("----------- Chi-Square (F vs L) True and False ------------")
# Create a new DataFrame with True/False based on the p_value condition
p_value_df1 = results_df['P-Value'] < 0.05
#p_value_df1 = pd.DataFrame(p_value_df1, columns=['Significant'])

# Display the new DataFrame
print(p_value_df1)

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8       int64
9       int64
10      int64
11      int64
12      int64
dtype: object

------------------------Chi-Square (F vs label column)------------------------
Label: label
 Feature  Chi Squared Statistic  P-Value
       8                 1200.0 0.453919
       9                 1440.0 0.450529
      10                 1200.0 0.453919
      11                 1200.0 0.453919
      12                  240.0 0.469645
----------- Chi-Square (F vs L) True and False ------------
0    False
1    False
2    False
3    False
4    False
Name: P-Value, dtype: bool

# Data1 + Data2: Combined_data

In [ ]:
########################## Concat Data1 +  Data2 ##################################
# Combine the DataFrames using pd.concat to maintain the data types
combined_data = pd.concat([data1_last_13, data2_last_13], ignore_index=True)

 

################### Convert 5 last columns to int then categorical ############
# Convert the last 5 columns to integers
for col in combined_data.columns[-5:]:
    combined_data[col] = combined_data[col].astype(int)


print(combined_data.dtypes)

##################### Subsetting data ################################


# Splitting X_train into numerical subset 
numerical_df = combined_data.select_dtypes(include = ['float', 'float64'])

# Splitting X_train into categorical subset 
categorical_df = combined_data.select_dtypes(exclude=['float', 'float64'])


##################### Chi-Square (F vs label column) Code ####################################
# Extract y_train (column with index 12)
y_train = data1.iloc[:, 12]    

print("\n------------------------Chi-Square (F vs label column)------------------------")
# Finds dependency between all CATEGORICAL features in X_train & the label in y_train
def chi_squared_fvl(X_train_categorical, y_train):
        
    # Combining CATEGORICAL X_train and y_train
    df = X_train_categorical
    df['label'] = y_train

    # Number of features, excluding label
    var_count = len(df.columns)-1

    # Creates an empty array to print values in a table
    results = []

    for i in range(0, var_count):

        # Create contigency table of all features v. label
        crosstab = pd.crosstab(df.iloc[:, i], df.iloc[:,-1])
            
        # Compute chi-squared and p-values
        chi2 = stats.chi2_contingency(crosstab)[0]
        p = stats.chi2_contingency(crosstab)[1]
            
        # Append results to the list
        results.append({
            "Feature": df.columns[i],
            "Chi Squared Statistic": chi2,
            "P-Value": p})

    # Create a DataFrame from the results
    results_df = pd.DataFrame(results)

    # Print the DataFrame
    print("Label:", df.columns.values[-1])
    print(results_df.to_string(index=False))

    return results_df
    
results_df = chi_squared_fvl(categorical_df, y_train)

#################### Change p_values_df to True and False Table #################################
print("----------- Chi-Square (F vs L) True and False ------------")
# Create a new DataFrame with True/False based on the p_value condition
p_value_df2 = results_df['P-Value'] < 0.05
#p_value_df1 = pd.DataFrame(p_value_df1, columns=['Significant'])

# Display the new DataFrame
print(p_value_df2)

In [ ]:
#IF YOU DO NOT NEED TO CONCAT USE THIS
################### Convert 5 last columns to int then categorical ############
# Convert the last 5 columns to integers
for col in data2_last_13.columns[-5:]:
    data2_last_13[col] = data2_last_13[col].astype(int)

print(data2_last_13.dtypes)
##################### Subsetting data ################################


# Splitting numerical subset 
numerical_df = data2_last_13.select_dtypes(include = ['float', 'float64'])

# Splitting categorical subset 
categorical_df = data2_last_13.select_dtypes(exclude=['float', 'float64'])

##################### Chi-Square (F vs label column) Code ####################################
# Extract y_train (column with index 12)
y_train = data1.iloc[:, 12]    

print("\n------------------------Chi-Square (F vs label column)------------------------")
# Finds dependency between all CATEGORICAL features in X_train & the label in y_train
def chi_squared_fvl(X_train_categorical, y_train):
        
    # Combining CATEGORICAL X_train and y_train
    df = X_train_categorical
    df['label'] = y_train

    # Number of features, excluding label
    var_count = len(df.columns)-1

    # Creates an empty array to print values in a table
    results = []

    for i in range(0, var_count):

        # Create contigency table of all features v. label
        crosstab = pd.crosstab(df.iloc[:, i], df.iloc[:,-1])
            
        # Compute chi-squared and p-values
        chi2 = stats.chi2_contingency(crosstab)[0]
        p = stats.chi2_contingency(crosstab)[1]
            
        # Append results to the list
        results.append({
            "Feature": df.columns[i],
            "Chi Squared Statistic": chi2,
            "P-Value": p})

    # Create a DataFrame from the results
    results_df = pd.DataFrame(results)

    # Print the DataFrame
    print("Label:", df.columns.values[-1])
    print(results_df.to_string(index=False))

    return results_df
    
results_df = chi_squared_fvl(categorical_df, y_train)



#################### Change p_values_df to True and False Table #################################
print("----------- Chi-Square (F vs L) True and False ------------")
# Create a new DataFrame with True/False based on the p_value condition
p_value_df2 = results_df['P-Value'] < 0.05
#p_value_df1 = pd.DataFrame(p_value_df1, columns=['Significant'])

# Display the new DataFrame
print(p_value_df2)

# Count of Changes in p-values

In [18]:
# Count the changes between the two DataFrames
changes = (p_value_df1 != p_value_df2).sum().sum()

# Display the number of changes
print(f"Number of changes between p_value_df1 and p_value_df2: {changes}")

Number of changes between p_value_df1 and p_value_df2: 0