In [2]:
import pandas as pd

In [6]:
# Load the dataset
data = pd.read_csv('fraud_oracle.csv')

# Display the first few rows of the dataset
print(data)

      Month  WeekOfMonth  DayOfWeek     Make AccidentArea DayOfWeekClaimed  \
0       Dec            5  Wednesday    Honda        Urban          Tuesday
1       Jan            3  Wednesday    Honda        Urban           Monday
2       Oct            5     Friday    Honda        Urban         Thursday
3       Jun            2   Saturday   Toyota        Rural           Friday
4       Jan            5     Monday    Honda        Urban          Tuesday
...     ...          ...        ...      ...          ...              ...
15415   Nov            4     Friday   Toyota        Urban          Tuesday
15416   Nov            5   Thursday  Pontiac        Urban           Friday
15417   Nov            5   Thursday   Toyota        Rural           Friday
15418   Dec            1     Monday   Toyota        Urban         Thursday
15419   Dec            2  Wednesday   Toyota        Urban         Thursday

      MonthClaimed  WeekOfMonthClaimed     Sex MaritalStatus  ...  \
0              Jan                   1  Female        Single  ...
1              Jan                   4    Male        Single  ...
2              Nov                   2    Male       Married  ...
3              Jul                   1    Male       Married  ...
4              Feb                   2  Female        Single  ...
...            ...                 ...     ...           ...  ...
15415          Nov                   5    Male       Married  ...
15416          Dec                   1    Male       Married  ...
15417          Dec                   1    Male        Single  ...
15418          Dec                   2  Female       Married  ...
15419          Dec                   3    Male        Single  ...

       AgeOfVehicle AgeOfPolicyHolder PoliceReportFiled WitnessPresent  \
0           3 years          26 to 30                No             No
1           6 years          31 to 35               Yes             No
2           7 years          41 to 50                No             No
3       more than 7          51 to 65               Yes             No
4           5 years          31 to 35                No             No
...             ...               ...               ...            ...
15415       6 years          31 to 35                No             No
15416       6 years          31 to 35                No             No
15417       5 years          26 to 30                No             No
15418       2 years          31 to 35                No             No
15419       5 years          26 to 30                No             No

      AgentType  NumberOfSuppliments  AddressChange_Claim  NumberOfCars  Year  \
0      External                 none               1 year        3 to 4  1994
1      External                 none            no change     1 vehicle  1994
2      External                 none            no change     1 vehicle  1994
3      External          more than 5            no change     1 vehicle  1994
4      External                 none            no change     1 vehicle  1994
...         ...                  ...                  ...           ...   ...
15415  External                 none            no change     1 vehicle  1996
15416  External          more than 5            no change        3 to 4  1996
15417  External               1 to 2            no change     1 vehicle  1996
15418  External          more than 5            no change     1 vehicle  1996
15419  External               1 to 2            no change     1 vehicle  1996

       BasePolicy
0       Liability
1       Collision
2       Collision
3       Liability
4       Collision
...           ...
15415   Collision
15416   Liability
15417   Collision
15418  All Perils
15419   Collision

[15420 rows x 33 columns]

In [8]:
# Display the summary statistics of the dataset
print(data.describe())

        WeekOfMonth  WeekOfMonthClaimed           Age  FraudFound_P  \
count  15420.000000        15420.000000  15420.000000  15420.000000
mean       2.788586            2.693969     39.855707      0.059857
std        1.287585            1.259115     13.492377      0.237230
min        1.000000            1.000000      0.000000      0.000000
25%        2.000000            2.000000     31.000000      0.000000
50%        3.000000            3.000000     38.000000      0.000000
75%        4.000000            4.000000     48.000000      0.000000
max        5.000000            5.000000     80.000000      1.000000

       PolicyNumber     RepNumber    Deductible  DriverRating          Year
count  15420.000000  15420.000000  15420.000000  15420.000000  15420.000000
mean    7710.500000      8.483268    407.704280      2.487808   1994.866472
std     4451.514911      4.599948     43.950998      1.119453      0.803313
min        1.000000      1.000000    300.000000      1.000000   1994.000000
25%     3855.750000      5.000000    400.000000      1.000000   1994.000000
50%     7710.500000      8.000000    400.000000      2.000000   1995.000000
75%    11565.250000     12.000000    400.000000      3.000000   1996.000000
max    15420.000000     16.000000    700.000000      4.000000   1996.000000

In [10]:
# Display the info to check for missing values
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15420 entries, 0 to 15419
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 15420 non-null  object
 1   WeekOfMonth           15420 non-null  int64
 2   DayOfWeek             15420 non-null  object
 3   Make                  15420 non-null  object
 4   AccidentArea          15420 non-null  object
 5   DayOfWeekClaimed      15420 non-null  object
 6   MonthClaimed          15420 non-null  object
 7   WeekOfMonthClaimed    15420 non-null  int64
 8   Sex                   15420 non-null  object
 9   MaritalStatus         15420 non-null  object
 10  Age                   15420 non-null  int64
 11  Fault                 15420 non-null  object
 12  PolicyType            15420 non-null  object
 13  VehicleCategory       15420 non-null  object
 14  VehiclePrice          15420 non-null  object
 15  FraudFound_P          15420 non-null  int64
 16  PolicyNumber          15420 non-null  int64
 17  RepNumber             15420 non-null  int64
 18  Deductible            15420 non-null  int64
 19  DriverRating          15420 non-null  int64
 20  Days_Policy_Accident  15420 non-null  object
 21  Days_Policy_Claim     15420 non-null  object
 22  PastNumberOfClaims    15420 non-null  object
 23  AgeOfVehicle          15420 non-null  object
 24  AgeOfPolicyHolder     15420 non-null  object
 25  PoliceReportFiled     15420 non-null  object
 26  WitnessPresent        15420 non-null  object
 27  AgentType             15420 non-null  object
 28  NumberOfSuppliments   15420 non-null  object
 29  AddressChange_Claim   15420 non-null  object
 30  NumberOfCars          15420 non-null  object
 31  Year                  15420 non-null  int64
 32  BasePolicy            15420 non-null  object
dtypes: int64(9), object(24)
memory usage: 3.9+ MB
None

In [22]:
start_date = '01/01/2023'
end_date = '12/31/2023'

# Filter rows within the date range for the year 2023
data_2023 = data[(data['CRASH_DATE'] >= start_date) & (data['CRASH_DATE'] <= end_date)]

# Check the shape of the filtered dataset
print(data_2023.shape)
1,720,494

(1716550, 71)

In [26]:
# Check for missing values in the new dataset
missing_values = data_2023.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

UNIT_TYPE                     2169
NUM_PASSENGERS             1462522
VEHICLE_ID                   39431
CMRC_VEH_I                 1684568
MAKE                         39436
                            ...
CARGO_BODY_TYPE            1702730
LOAD_TYPE                  1703341
HAZMAT_OUT_OF_SERVICE_I    1704512
MCS_OUT_OF_SERVICE_I       1704267
HAZMAT_CLASS               1715434
Length: 67, dtype: int64

In [32]:
# Drop rows with missing values in critical columns
data_2023_clean = data_2023.dropna(subset=['UNIT_TYPE'])

In [36]:
print(data_2023_clean.shape)

(1714381, 71)