In [4]:
import pandas as pd

In [5]:
# Load the dataset
data = pd.read_csv('Traffic_Crashes_-_Vehicles.csv')

# Display the first few rows of the dataset
print(data.head())

/var/folders/gq/wfvm6zt96_vgyjdb9mtbd22w0000gn/T/ipykernel_62753/655083133.py:2: DtypeWarning: Columns (7,18,20,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,65,66,67,68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Traffic_Crashes_-_Vehicles.csv')

   CRASH_UNIT_ID                                    CRASH_RECORD_ID  \
0        1717556  7b1763088507f77e0e552c009a6bf89a4d6330c7527706...
1        1717574  2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...
2        1717579  a52ef70e33d468b855b5be44e8638a564434dcf99c0edf...
3        1720118  609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...
4        1720119  609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...

               CRASH_DATE  UNIT_NO UNIT_TYPE  NUM_PASSENGERS  VEHICLE_ID  \
0  12/06/2023 03:24:00 PM        1    DRIVER             NaN   1634931.0
1  12/06/2023 04:00:00 PM        2    DRIVER             NaN   1634978.0
2  12/06/2023 04:30:00 PM        1    DRIVER             NaN   1634948.0
3  12/10/2023 12:12:00 PM        1    DRIVER             NaN   1637401.0
4  12/10/2023 12:12:00 PM        2    DRIVER             NaN   1637408.0

  CMRC_VEH_I      MAKE    MODEL  ... TRAILER1_LENGTH  TRAILER2_LENGTH  \
0        NaN    NISSAN   SENTRA  ...             NaN              NaN
1        NaN  CHRYSLER  SEBRING  ...             NaN              NaN
2        NaN    SUBARU  OUTBACK  ...             NaN              NaN
3        NaN    TOYOTA     RAV4  ...             NaN              NaN
4        NaN    SUBARU  OUTBACK  ...             NaN              NaN

  TOTAL_VEHICLE_LENGTH AXLE_CNT VEHICLE_CONFIG CARGO_BODY_TYPE LOAD_TYPE  \
0                  NaN      NaN            NaN             NaN       NaN
1                  NaN      NaN            NaN             NaN       NaN
2                  NaN      NaN            NaN             NaN       NaN
3                  NaN      NaN            NaN             NaN       NaN
4                  NaN      NaN            NaN             NaN       NaN

  HAZMAT_OUT_OF_SERVICE_I MCS_OUT_OF_SERVICE_I  HAZMAT_CLASS
0                     NaN                  NaN           NaN
1                     NaN                  NaN           NaN
2                     NaN                  NaN           NaN
3                     NaN                  NaN           NaN
4                     NaN                  NaN           NaN

[5 rows x 71 columns]

In [8]:
# Display the summary statistics of the dataset
print(data.describe())

       CRASH_UNIT_ID       UNIT_NO  NUM_PASSENGERS    VEHICLE_ID  \
count   1.720494e+06  1.720494e+06   254705.000000  1.681005e+06
mean    9.201007e+05  3.760779e+00        1.470760  8.751604e+05
std     5.326975e+05  2.880310e+03        1.058312  5.055207e+05
min     2.000000e+00  0.000000e+00        1.000000  2.000000e+00
25%     4.579622e+05  1.000000e+00        1.000000  4.377770e+05
50%     9.211815e+05  2.000000e+00        1.000000  8.734910e+05
75%     1.381745e+06  2.000000e+00        2.000000  1.312343e+06
max     1.841186e+06  3.778035e+06       59.000000  1.753890e+06

       VEHICLE_YEAR  OCCUPANT_CNT        CMV_ID  TRAILER1_LENGTH  \
count  1.411994e+06  1.681005e+06  17464.000000      2378.000000
mean   2.014133e+03  1.079171e+00   9740.592476        48.497897
std    1.386829e+02  7.821187e-01   5632.278513        20.750217
min    1.900000e+03  0.000000e+00      1.000000         1.000000
25%    2.007000e+03  1.000000e+00   4812.750000        45.000000
50%    2.013000e+03  1.000000e+00   9768.500000        53.000000
75%    2.016000e+03  1.000000e+00  14633.250000        53.000000
max    9.999000e+03  9.900000e+01  19445.000000       740.000000

       TRAILER2_LENGTH  TOTAL_VEHICLE_LENGTH      AXLE_CNT
count        70.000000           2890.000000   4341.000000
mean         44.271429             53.198962      9.698457
std          28.008240             31.256897    394.710112
min           1.000000              1.000000      1.000000
25%          24.250000             35.000000      2.000000
50%          50.000000             53.000000      3.000000
75%          53.000000             66.000000      5.000000
max         123.000000            999.000000  26009.000000

In [10]:
# Display the info to check for missing values
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1720494 entries, 0 to 1720493
Data columns (total 71 columns):
 #   Column                    Dtype
---  ------                    -----
 0   CRASH_UNIT_ID             int64
 1   CRASH_RECORD_ID           object
 2   CRASH_DATE                object
 3   UNIT_NO                   int64
 4   UNIT_TYPE                 object
 5   NUM_PASSENGERS            float64
 6   VEHICLE_ID                float64
 7   CMRC_VEH_I                object
 8   MAKE                      object
 9   MODEL                     object
 10  LIC_PLATE_STATE           object
 11  VEHICLE_YEAR              float64
 12  VEHICLE_DEFECT            object
 13  VEHICLE_TYPE              object
 14  VEHICLE_USE               object
 15  TRAVEL_DIRECTION          object
 16  MANEUVER                  object
 17  TOWED_I                   object
 18  FIRE_I                    object
 19  OCCUPANT_CNT              float64
 20  EXCEED_SPEED_LIMIT_I      object
 21  TOWED_BY                  object
 22  TOWED_TO                  object
 23  AREA_00_I                 object
 24  AREA_01_I                 object
 25  AREA_02_I                 object
 26  AREA_03_I                 object
 27  AREA_04_I                 object
 28  AREA_05_I                 object
 29  AREA_06_I                 object
 30  AREA_07_I                 object
 31  AREA_08_I                 object
 32  AREA_09_I                 object
 33  AREA_10_I                 object
 34  AREA_11_I                 object
 35  AREA_12_I                 object
 36  AREA_99_I                 object
 37  FIRST_CONTACT_POINT       object
 38  CMV_ID                    float64
 39  USDOT_NO                  object
 40  CCMC_NO                   object
 41  ILCC_NO                   object
 42  COMMERCIAL_SRC            object
 43  GVWR                      object
 44  CARRIER_NAME              object
 45  CARRIER_STATE             object
 46  CARRIER_CITY              object
 47  HAZMAT_PLACARDS_I         object
 48  HAZMAT_NAME               object
 49  UN_NO                     object
 50  HAZMAT_PRESENT_I          object
 51  HAZMAT_REPORT_I           object
 52  HAZMAT_REPORT_NO          object
 53  MCS_REPORT_I              object
 54  MCS_REPORT_NO             object
 55  HAZMAT_VIO_CAUSE_CRASH_I  object
 56  MCS_VIO_CAUSE_CRASH_I     object
 57  IDOT_PERMIT_NO            object
 58  WIDE_LOAD_I               object
 59  TRAILER1_WIDTH            object
 60  TRAILER2_WIDTH            object
 61  TRAILER1_LENGTH           float64
 62  TRAILER2_LENGTH           float64
 63  TOTAL_VEHICLE_LENGTH      float64
 64  AXLE_CNT                  float64
 65  VEHICLE_CONFIG            object
 66  CARGO_BODY_TYPE           object
 67  LOAD_TYPE                 object
 68  HAZMAT_OUT_OF_SERVICE_I   object
 69  MCS_OUT_OF_SERVICE_I      object
 70  HAZMAT_CLASS              object
dtypes: float64(9), int64(2), object(60)
memory usage: 932.0+ MB
None

In [22]:
start_date = '01/01/2023'
end_date = '12/31/2023'

# Filter rows within the date range for the year 2023
data_2023 = data[(data['CRASH_DATE'] >= start_date) & (data['CRASH_DATE'] <= end_date)]

# Check the shape of the filtered dataset
print(data_2023.shape)
1,720,494

(1716550, 71)

In [26]:
# Check for missing values in the new dataset
missing_values = data_2023.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

UNIT_TYPE                     2169
NUM_PASSENGERS             1462522
VEHICLE_ID                   39431
CMRC_VEH_I                 1684568
MAKE                         39436
                            ...
CARGO_BODY_TYPE            1702730
LOAD_TYPE                  1703341
HAZMAT_OUT_OF_SERVICE_I    1704512
MCS_OUT_OF_SERVICE_I       1704267
HAZMAT_CLASS               1715434
Length: 67, dtype: int64

In [32]:
# Drop rows with missing values in critical columns
data_2023_clean = data_2023.dropna(subset=['UNIT_TYPE'])

In [36]:
print(data_2023_clean.shape)

(1714381, 71)